In [1]:
import pandas as pd
import csv
from pathlib import Path

In [2]:
input_file = Path('Resources/budget_data.csv') 
output_file= Path('analysis/budget_anaysis.txt')

In [3]:
sales_dataframe = pd.read_csv(input_file)
sales_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
total_months = 0
month_of_change = []
net_change_list = []
greatest_increase = ["", 0]
greatest_decrease = ["", 9999999999999999999]
total_net = 0

In [5]:
with open(input_file) as financial_data:
    reader=csv.reader(financial_data)
    
    header = next(reader)
    
    first_row = next(reader)
    
    total_months + 1
    total_net = total_net + int(first_row[1])
    prev_net = int(first_row[1])
    
    for row in reader:
        total_months = total_months + 1
        total_net = total_net + int(first_row[1])
        
        net_change = int(first_row[1]) - prev_net
        prev_net = int(first_row[1])
        net_change_list =  net_change_list + [net_change]
        month_of_change = month_of_change + [row[0]]
        
        if net_change > greatest_increase[1]:
            greatest_increase[0]=row[0]
            greatest_increase =net_change
            
        if net_change < greatest_decrease[1]:
            greatest_decrease[0]=row[0]
            greatest_decrease[1]=net_change

In [8]:
#Calculate the average net change

net_monthly_avg = round(sum(net_change_list) / len(net_change_list), 2)
net_monthly_avg

0.0

In [ ]:
#Export the results to a txt file 
with open(output_file, "w") as txt_file:
    txt_file.write(f'Financial Analysis\n")